.button {
  width: 100%;
  max-width: 100px;
  padding: 8px 15px;

  font-size: 16px;
  font-weight: 500;
  color: #111;

  background: transparent;
  background: #FF5959;
  border-radius: 15px;

  transition: background 0.3s ease;
}

.button:hover {
  background: #FF5959D0;
}

.follow {
  background: #3ABE66;
}

.follow:hover {
  background: #3ABE66D0;
}

.button:disabled {
  cursor: default;

  color: black;
  text-decoration: line-through;

  opacity: 0.8;
  background: #5A5A5A;
}