.wrapper {
  position: relative;
}

.label {
  margin: 0 0 10px 10px;
  font-size: 15px;
  line-height: 1.2;
}

.input {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 10px;

  font-size: 16px;

  background: #EEEEEE;
  border: 1px solid #757575;
  border-radius: 10px;

  transition: all 0.3s ease;
}

.input:focus {
  background: #FCFCFC;
  border: 1px solid #070707;
}

.input.error {
  border: 1px solid #E70045;
  box-shadow: 0 0 20px -10px #E70045;
}

.errorMes {
  position: absolute;
  bottom: 0px;
  left: 10px;

  font-size: 14px;
  font-weight: 500;
  color: #E70045;
}