.back {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.377);
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: -moz-scrollbars-none;
  overflow-y: scroll;

  width: 100%;
  max-width: 700px;
  height: 80vh;
  padding: 40px 60px;

  background: #FCFCFC;
  border-radius: 20px;
  box-shadow: 0 0 30px -10px #000;

  -ms-overflow-style: none;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.button {
  flex: 0 0 49%;
}

.closebtn {
  cursor: pointer;

  position: absolute;
  top: 30px;
  right: 30px;
  left: auto;

  font-size: 18px;
}

.click_disabled {
  pointer-events: none;
  cursor: default;
}