.wrapper {
	height: calc(100% - 200px);
}

.title {
	font-weight: 500;
	font-size: 22px;
}

.complete_message {
	height: 100%;
}

.complete_message .link {
	text-align: center;
	color: #f83333;
	transition: color .2s;
}

.complete_message .link:hover {
	color: #a3888d;
}