.wrapper {
  height: calc(100% - 200px);
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.complete_message {
  height: 100%;
}

.complete_message .link {
  color: #F83333;
  text-align: center;
  transition: color .2s;
}

.complete_message .link:hover {
  color: #A3888D;
}