.button {
  padding: 8px 15px;

  font-size: 16px;
  font-weight: 500;
  color: #111;

  background: transparent;
  border-radius: 10px;

  transition: background 0.3s ease;
}

.primary {
  background: #3A78BE;
}

.primary:hover {
  background: #3A78BEB4;
}

.danger {
  background: #DF4747;
}

.danger:hover {
  background: #DF4747D0;
}

.disabled,
.button:disabled {
  cursor: default;
  color: black;
  opacity: 0.8;
  background: #5A5A5A;
}