.wrapper {
	position: relative;
}

.title {
	font-weight: 500;
	font-size: 22px;
	margin: 0 0 15px 0;
}

.center {
	margin: 40px auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	font-size: 20px;
}

.center img {
	flex: 0 0 60px;
	width: 60px;
	height: 60px;
	object-fit: contain;
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.item {
	flex: 1 1 30%;
	display: flex;
	align-items: center;
	gap: 15px;

	border-radius: 10px;
	border: 1px solid rgb(168, 165, 165);
	padding: 10px;
}

.avatar {
	width: 50px;
	height: 50px;
	flex: 0 0 50px;
}

.name {
	color: #111;
	transition: color 0.3s ease;
	text-decoration: underline;
}

.name:hover {
	color: #E4717A;
	text-decoration: underline;
}

.back_button {
	position: absolute;
	top: 0;
	left: 0;

	background: transparent;
	padding: 10px 0;

	font-size: 18px;
}

.back_button:hover {
	text-decoration: underline;
}

.buttons_wrapper {
	margin: 0 0 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	padding: 10px 15px;
	background: transparent;
	color: #7ac0f7;
	font-size: 18px;
	border: 1px solid #7ac0f7;
}

.button:first-child {
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

.button:last-child {
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

.button._active {
	background: #7ac0f7;
	color: #fcfcfc;
}

.follow_button_wrapper {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
	.back_button {
		padding: 11px 0;
		font-size: 16px;
	}
}

@media only screen and (max-width: 570px) {
	.back_button {
		padding: 0;
	}

	.wrapper {
		padding-top: 30px;
	}
}

@media only screen and (max-width: 480px) {
	.list {
		gap: 10px;
		flex-wrap: nowrap;
		flex-direction: column;
	}

	.item {
		flex: 1 1 auto;
		display: grid;
		grid-template-columns: min-content 1fr;
	}

	.name {
		grid-area: 1 / 1 / 1 / span 2;
	}
}