.wrapper {
  position: relative;
}

.title {
  margin: 0 0 15px 0;
  font-size: 22px;
  font-weight: 500;
}

.empty {
  margin: 40px auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  display: flex;
  flex: 1 1 30%;
  gap: 15px;
  align-items: center;

  padding: 10px;

  border: 1px solid rgb(168, 165, 165);
  border-radius: 10px;
}

.avatar {
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
}

.name {
  color: #111;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.name:hover {
  color: #E4717A;
  text-decoration: underline;
}

.back_button {
  position: absolute;
  top: 0;
  left: 0;

  padding: 10px 0;

  font-size: 18px;

  background: transparent;
}

.back_button:hover {
  text-decoration: underline;
}

.buttons_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px 0;
}

.button {
  padding: 10px 15px;

  font-size: 18px;
  color: #7AC0F7;

  background: transparent;
  border: 1px solid #7AC0F7;
}

.button:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.button:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.button._active {
  color: #FCFCFC;
  background: #7AC0F7;
}

.follow_button_wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
  .back_button {
    padding: 11px 0;
    font-size: 16px;
  }
}

@media only screen and (max-width: 570px) {
  .back_button {
    padding: 0;
  }

  .wrapper {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .item {
    display: grid;
    grid-template-columns: min-content 1fr;
    flex: 1 1 auto;
  }

  .name {
    grid-area: 1 / 1 / 1 / span 2;
  }
}