.header {
  display: flex;
  grid-area: h;
  align-items: center;
  justify-content: space-between;

  border-radius: 5px;
}

.header__logo {
  display: flex;
  gap: 10px;
  align-items: center;

  height: 100%;

  font-size: 30px;
  font-weight: 500;
  color: #E4717A;
  white-space: nowrap;
}

.header__logo p {
  margin: 0 0 0 0;
}

.header__login {
  display: flex;
  gap: 20px;
  align-items: center;
  color: black;
}

.burger_wrapper {
  cursor: pointer;

  position: relative;

  display: none;

  width: 25px;
  height: 25px;
}


@media only screen and (max-width: 768px) {
  .header {
    position: fixed;
    z-index: 2;
    top: 30px;
    right: 30px;
    left: 30px;

    gap: 30px;
    justify-content: start;

    height: 70px;
    padding: 10px 10px;

    background-color: #FCFCFC;
    border-radius: 5px;
    box-shadow: 0 0 18px -4px transparent;

    transition: box-shadow .3s;
  }

  .header.shadow {
    box-shadow: 0 0 18px -4px #111;
  }

  .header__login {
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  .burger_wrapper {
    display: block;
  }

  .burger {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    transition: opacity .3s ease;
  }

  .burger.active {
    opacity: 1;
  }
}

@media only screen and (max-width: 640px) {
  .header__logo p {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .header {
    top: 15px;
    right: 24px;
    left: 24px;
    gap: 15px;
  }

  .header__login {
    gap: 7px;
  }
}

@media only screen and (max-width: 375px) {
  .header__login {
    font-size: 16px;
  }

  .header button {
    padding: 8px 10px;
    font-size: 14px;
  }
}