.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 40px 0 0 0;
  padding: 15px;

  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
}

.removePost {
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
}

.removePost:hover svg {
  opacity: 0.8;
}

.image {
  overflow: hidden;

  width: 60%;
  height: 100%;
  max-height: max(70vh, 300px);
  margin: 15px 0 0 0;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text {
  max-width: 600px;
  margin: 15px 0 0 0;
  word-wrap: break-word;
}

.user {
  display: flex;
  flex: 0 0 50px;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
}

.userImage {
  overflow: hidden;
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
}

.userName {
  margin: 0 0 0 10px;
}

.stats {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  margin: 20px 0 0 0;
}

.statsItem {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;

  color: #111;
  text-align: center;
  vertical-align: center;

  transition: transform 0.2s ease-in-out;
}

.statsItem.active {
  color: red;
}

.statsItem.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}


.statsItem:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin: 20px 0 0 0;
  }
}