.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180px);
}

.body {
  display: flex;
  flex: 1 1 auto;
  gap: 30px;
  height: calc(100% - 145px);
}

.title {
  margin: 0 0 15px 0;
  font-size: 22px;
  font-weight: 500;
}

@media only screen and (max-width: 910px) {
  .body {
    gap: 15px;
  }

  .title {
    margin: 0 0 7px 0;
  }
}