.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
}

.dialog_wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  border-bottom: 1px solid #111;
}

.dialog {
  cursor: pointer;

  display: inline-flex;
  gap: 20px;
  align-items: center;

  width: min-content;
  padding-bottom: 5px;

  color: #111;
}

.dialog_image {
  flex: 0 0 40px;
  width: 40px;
  height: 40px !important;
}

.messages {
  overflow: auto;
  flex: 1 1 auto;
}

.empty {
  height: 100%;
  margin: 0 0 80px 0;
}

.loading {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.dialogs_open {
  display: none;
  width: 30px;
}

.dialogs_open {
  display: none;
  width: 30px;
}

@media only screen and (max-width: 600px) {
  .dialogs_open {
    display: block;
  }
}