.form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 15px 0;
}

.form__btn {
  margin-top: 15px;
}

.link {
  font-size: 14px;
  color: #111;
  text-align: center;
  transition: color .3s;
}

.link:hover {
  color: #A3888D;
}