.textarea {
  position: relative;
  overflow: hidden;
  grid-area: textarea;
  flex: 0 0 auto;
}

.textareaInput {
  margin: 0;
  padding-right: 50px;
}

.btn {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  width: 30px;
  height: 100%;
  height: 30px;

  background: transparent;
}

.btn span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  width: 30px;
  height: 2px;

  background: #000;
  border-radius: 20px;
}

.btn span::before {
  content: "";

  position: absolute;
  top: calc(50% - 3px);
  right: 0;
  transform: translateY(-50%) rotate(30deg);

  width: 12px;
  height: 2px;

  background: #000;
  border-radius: 20px;
}

.btn span::after {
  content: "";

  position: absolute;
  top: calc(50% + 3px);
  right: 0;
  transform: translateY(-50%) rotate(-30deg);

  width: 12px;
  height: 2px;

  background: #000;
  border-radius: 20px;
}

@media only screen and (max-width: 910px) {
  .textareaInput {
    font-size: 14px;
  }
}