.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.list {
  flex: 1 1 auto;
  min-height: calc(100vh - 300px);
}

.pagination ._active a {
  font-size: 1.2em;
  font-weight: 500;
  color: black;
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
}

.pagination li {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  transition: all 0.2s ease-in-out;
}

.pagination a {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;

  color: rgb(41, 41, 41);
}

.pagination li:hover {
  text-decoration: underline;
}

.pagination li:first-child:hover,
.pagination li:last-child:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
  .pagination {
    margin: 5px 0;
  }

  .pagination a {
    padding: 4px;
  }
}