.menu {
  grid-area: m;
  border-radius: 5px;
}

.menu__list {
  display: flex;
  flex-direction: column;
}

.menu__item {
  cursor: pointer;

  position: relative;

  margin: 0 15px 0 0;
  padding: 5px 0;

  color: #111;

  border-radius: 10px;
}

.menu__item:before {
  content: "";

  position: absolute;
  bottom: 5px;
  left: 0;

  width: 0;
  height: 1px;

  background: #2C2C2C;

  transition: width 0.2s ease-in-out;
}

.menu__item:hover::before {
  width: 50%;
}

.menu__item.users {
  margin: 10px 0;
}

.menu__item._active {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .menu {
    pointer-events: none;

    position: fixed;
    z-index: 2;
    top: 120px;
    left: 30px;

    padding: 10px;

    opacity: 0;
    background: #FCFCFC;
    box-shadow: 0 0 18px -4px #111;

    transition: opacity 0.4s ease;
  }

  .menu_active {
    pointer-events: all;
    opacity: 1;
  }
}

@media only screen and (max-width: 425px) {
  .menu {
    top: 100px;
    left: 24px;
  }
}