.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0 auto;

  font-size: 20px;
  font-weight: 500;
  color: rgb(19, 19, 19);
  text-align: center;
}

.wrapper a {
  position: relative;
  color: #D14753;
}

.wrapper a:before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 2px;

  background: #D14753;

  transition: width 0.2s ease-in-out;
}

.wrapper a:hover::before {
  width: 100%;
  color: #D14753;
}